<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Languages</title>
</head>

<body>

<a href="/">Home</a> 

<h2>Languages list </h2>

<h3>{{len .}} language(s) found</h3>

<table border="1">
{{range .}}<tr><td> {{.Code}} </td>
<td> {{.Name}} </td>
<td> <a href="/language/form?code={{.Code}}">Edit</a> </td>
</tr>
{{end}}
</table>

<a href="/language/form">Create</a> 


</body>
</html>